[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "qst"]
	path = qst
	url = https://github.com/torfason/qst
	shallow = true
	registered = true
[submodule "zfit"]
	path = zfit
	url = https://github.com/torfason/zfit
	shallow = true
	registered = true
[submodule "zmisc"]
	path = zmisc
	url = https://github.com/torfason/zmisc
	shallow = true
	registered = true
