[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "qst"]
	path = qst
	url = https://github.com/torfason/qst
[submodule "zfit"]
	path = zfit
	url = https://github.com/torfason/zfit
[submodule "zmisc"]
	path = zmisc
	url = https://github.com/torfason/zmisc
